.num-input {
    width: 3em;
}
.input-container {
    margin-bottom: 20px;
}
.item-disp-div {
    float: left;
}

.item-container {
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.item-popup-div {
    position: absolute;
    width: 168px;
    background-color: #efd083;
    border-radius:10px;
    padding: 10px 10px 5px;
}

.item-popup-recipe-div {
    margin-bottom: 5px;
    padding:10px;
    background: rgba(0, 0, 0, 0.2);
}

.footer{
    background: rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

}
.header {
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-body {
    background: rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

}

body {
    background: lemonchiffon;
}

html {
    overflow-y: scroll;
    overflow-y: overlay;
}